{% extends "layout.html" %}

{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Category
        <input type=text name=category>

	    <dt>Priority
	    <input type=text name=priority>

        <dt>Description
        <input type=text name=description>
		
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  
  <ul class=entries>
  <table>
  <tbody>
      <tr>
          <th>Category</th>
          <th>Priority</th>
          <th>Description</th>
		  {% if session.logged_in %}
		  	<th>Delete</th>
		  {% endif %}
      </tr>
 
  {% for entry in entries %}
  	<tr>
  	<td>{{ entry.category|safe }}</td>
 	<td>{{ entry.priority|safe}}</td>
	<td>{{ entry.description|safe}}</td>
    {% if session.logged_in %}
      <td>
		  <form action="{{ url_for('delete_entry') }}" method=post class=delete-entry>
			<input type=hidden name=rowid value={{entry.rowid|safe}}>
        	<input type=submit value=Delete>
     	 </form>
	  </td>
    {% endif %}
	</tr>
  {% endfor %}
  </tbody></table>
  </ul>
{% endblock %}