{% extends "layout.html" %}

{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  
  <ul class=entries>
  <table>
  <tbody>
      <tr>
          <th>Category</th>
          <th>Priority</th>
          <th>Description</th>
      </tr>
 
  {% for entry in entries %}
  	<tr>
  	<td>{{ entry.category|safe }}</td>
 	<td>{{ entry.priority|safe}}</td>
	<td>{{ entry.description|safe}}</td>
	</tr>
  {% endfor %}
  </tbody></table>
  </ul>
{% endblock %}